h1{
	font-family: 'Emilys Candy', cursive;
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

#table{
	margin: auto;
}

td{
	height: 200px;
  	padding: 100px;
  	border: 6px solid white;
}
#td1{
	background-color: #d8f3dc;
}

#td2{
	background-color: #95d5b2;
}

#td3{
	background-color: #52b788;
}

#td4{
	background-color: #2d6a4f;
}

#td5{
	background-color: #081c15;
}